<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title> Convertir Color </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-fab vertical="top" edge horizontal="end" slot="fixed">
    <ion-fab-button mini color="tertiary" (click)="share()"><ion-icon name="share"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-item>
    <ion-label>Desde:</ion-label>
    <ion-select [(ngModel)]="fromColorSpace" interface="popover" (ionChange)="changeSelected()">
      <ion-select-option *ngFor="let sColor of colorSpaces" [value]="sColor">{{
        colorSpacesTypes[sColor]
      }}</ion-select-option>
    </ion-select>
  </ion-item>

  <app-rgbsettings
    #rgbConverter
    *ngIf="colorSpacesTypes[fromColorSpace] == 'RGB'"
    [converters]="converters"
    (colorChange)="colorChange($event)"
  ></app-rgbsettings>
  <app-labsettings
    #rgbConverter
    *ngIf="colorSpacesTypes[fromColorSpace] == 'LAB'"
    [converters]="converters"
    (colorChange)="colorChange($event)"
  ></app-labsettings>
  <app-cmysettings
    #rgbConverter
    *ngIf="colorSpacesTypes[fromColorSpace] == 'CMY'"
    [converters]="converters"
    (colorChange)="colorChange($event)"
  ></app-cmysettings>
  <app-cmyksettings
    #rgbConverter
    *ngIf="colorSpacesTypes[fromColorSpace] == 'CMYK'"
    [converters]="converters"
    (colorChange)="colorChange($event)"
  ></app-cmyksettings>
  <app-hexsettings
    #rgbConverter
    *ngIf="colorSpacesTypes[fromColorSpace] == 'HEX'"
    [converters]="converters"
    (colorChange)="colorChange($event)"
  ></app-hexsettings>
  <app-lchsettings
    #rgbConverter
    *ngIf="colorSpacesTypes[fromColorSpace] == 'LCH'"
    [converters]="converters"
    (colorChange)="colorChange($event)"
  ></app-lchsettings>
  <app-xyzsettings
    #rgbConverter
    *ngIf="colorSpacesTypes[fromColorSpace] == 'XYZ'"
    [converters]="converters"
    (colorChange)="colorChange($event)"
  ></app-xyzsettings>

  <ion-card>
    <ion-card-header> <ion-card-title>Resultados</ion-card-title> </ion-card-header>
    <ion-card-content>
      <canvas
        #canvasColorConverter
        id="canvasColorConverter"
        height="600"
        width="1000"
        style="height:100%; width:100%"
      ></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
