<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title>
      <ion-icon color="dark" [src]="'assets/icons/color-palette.svg'"></ion-icon>
      <span> Catalogo Pantone®</span>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary"> <ion-searchbar [(ngModel)]="searchPantoneText" animated placeholder="Buscar" debounce="1500"></ion-searchbar> </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="searchPantoneText === null || searchPantoneText === ''; else: search">
    <ion-list> <app-target [Pantone]="p" *ngFor="let p of (pantoneColors | slice: 0:limit)"></app-target> </ion-list>
    <ion-infinite-scroll threshold="5%" (ionInfinite)="loadData($event)"> <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> </ion-infinite-scroll-content> </ion-infinite-scroll>
  </ng-container>
  <ng-template #search>
    <ion-list>
      <ion-list> <app-target [Pantone]="p" *ngFor="let p of (pantoneColors | filterPantone: searchPantoneText)"></app-target> </ion-list>
    </ion-list>
  </ng-template>
</ion-content>
