<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title>
      <ion-icon color="dark" [src]="'assets/icons/measuring-tape.svg'"></ion-icon>
      <span> Metros Lineales</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" edge horizontal="end" slot="fixed">
    <ion-fab-button mini color="tertiary" (click)="share()"><ion-icon name="share"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-item lines="full" detail (click)="setWorkData()">
    <ion-label text-wrap>
      <ion-text color="dark"> <ion-icon name="albums" color="secondary"></ion-icon> ({{ CurrentWork.Material.Abreviatura }}) {{ CurrentWork.Material.Nombre }} </ion-text>
      <ion-text color="medium">
        <p>
          <span fxFlex="50%">
            <ion-icon name="cube" color="secondary"></ion-icon>
            {{ CurrentWork.Material.Densidad }} <sup>g</sup>/<sub>cm<sup>3</sup></sub>
          </span>
          <span fxFlex="50%">
            <ion-icon color="secondary" src="assets/icons/md-vertical-align.svg"></ion-icon>
            {{ CurrentWork.Calibre }}<span>&#181;</span>m
          </span>
        </p>
      </ion-text>
      <ion-text color="medium">
        <p>
          <span fxFlex="50%">
            <ion-icon name="swap" color="secondary"></ion-icon>
            {{ CurrentWork.Ancho }} cm
          </span>
          <span fxFlex="50%">
            <ion-icon name="color-fill" color="secondary"></ion-icon>
            {{ CurrentWork.Tinta }}<sup>g</sup>/<sub>cm<sup>2</sup></sub>
          </span>
        </p>
      </ion-text>
      <ion-text color="medium">
        <p>
          <span fxFlex="50%">
            <ion-icon name="speedometer" color="secondary"></ion-icon>
            {{ CurrentWork.Velocidad }} <sup>m</sup>/<sub>min</sub>
          </span>
          <span fxFlex="50%"> </span>
        </p>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="tab === 'fromkg'">
    <ion-icon slot="start" name="cube" color="secondary"> </ion-icon>
    <ion-label position="stacked">Cantidad</ion-label>
    <ion-input [(ngModel)]="CurrentWork.Cantidad" type="number" placeholder="0" (ionChange)="calculate()" min="0"></ion-input>
    <ion-note slot="end">Kg</ion-note>
  </ion-item>
  <ion-item *ngIf="tab === 'fromlargo'">
    <ion-icon slot="start" color="secondary" src="assets/icons/ruler.svg"> </ion-icon>
    <ion-label position="stacked">Longitud</ion-label>
    <ion-input [(ngModel)]="CurrentWork.Metros" type="number" (ionChange)="calculate()" min="0"></ion-input>
    <ion-note slot="end">m</ion-note>
  </ion-item>

  <ion-card>
    <ion-card-header> <ion-card-title>Resultados</ion-card-title> </ion-card-header>
    <ion-card-content> <canvas #canvasAlto id="canvasAlto" height="600" width="1000" style="height:100%; width:100%"></canvas> </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" style="padding-top: 5px;">
    <ion-segment [(ngModel)]="tab" value="fromkg" (ionChange)="change($event)">
      <ion-segment-button value="fromkg">
        <ion-icon name="cube" style="margin: 0px;"> </ion-icon>
        <ion-label style="margin-top: 0px; margin-bottom: 5px">desde Kg</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fromlargo">
        <ion-icon src="assets/icons/ruler.svg" style="margin: 0px;"> </ion-icon>
        <ion-label style="margin-top: 0px; margin-bottom: 5px">desde Largo</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
