<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title> Alto de Rollo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" edge horizontal="end" slot="fixed">
    <ion-fab-button mini color="tertiary" (click)="share()"><ion-icon name="share"></ion-icon></ion-fab-button>
  </ion-fab>

  <div id="mlDiv" fxFlexFill fxLayout="column">
    <ion-item lines="full" detail (click)="setWorkData()">
      <ion-label text-wrap>
        <ion-text color="dark"> <ion-icon name="albums" color="secondary"></ion-icon> ({{ CurrentWork.Material.Abreviatura }}) {{ CurrentWork.Material.Nombre }} </ion-text>
        <ion-text color="medium">
          <p>
            <span fxFlex="50%">
              <ion-icon name="cube" color="secondary"></ion-icon>
              {{ CurrentWork.Material.Densidad }} <sup>g</sup>/<sub>cm<sup>3</sup></sub>
            </span>
            <span fxFlex="50%">
              <ion-icon color="secondary" src="assets/icons/md-vertical-align.svg"></ion-icon>
              {{ CurrentWork.Calibre }}<span>&#181;</span>m
            </span>
          </p>
        </ion-text>
        <ion-text color="medium">
          <p>
            <span fxFlex="50%">
              <ion-icon name="swap" color="secondary"></ion-icon>
              {{ CurrentWork.Ancho }} cm
            </span>
            <span fxFlex="50%">
              <ion-icon name="color-fill" color="secondary"></ion-icon>
              {{ CurrentWork.Tinta }}<sup>g</sup>/<sub>cm<sup>2</sup></sub>
            </span>
          </p>
        </ion-text>
        <ion-text color="medium">
          <p>
            <span fxFlex="50%">
              <ion-icon name="speedometer" color="secondary"></ion-icon>
              {{ CurrentWork.Velocidad }} <sup>m</sup>/<sub>min</sub>
            </span>
            <span fxFlex="50%"> </span>
          </p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-content>
      <ion-tabs #tabs_ml>
        <ion-tab tab="tab-kgml">
          <ion-content scrollY="true">
            <ion-item>
              <ion-icon slot="start" name="cube" color="secondary"> </ion-icon>
              <ion-label position="fixed">Kg en Rollo</ion-label>
              <ion-input [(ngModel)]="CurrentWork.CantidadRollo" type="number" placeholder="0" (ionChange)="calculate()" min="0"></ion-input>
              <ion-note slot="end">Kg</ion-note>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" src="assets/icons/core.svg" color="secondary"> </ion-icon>
              <ion-label>Centro</ion-label>
              <ion-select [(ngModel)]="CurrentWork.Centro" [value]="CurrentWork.Centro" (ionChange)="calculate()" interface="popover" placeholder="Seleccione el tamaño del centro">
                <ion-select-option [value]="core.val" *ngFor="let core of [{ val: 3, name: '3 Pulgadas' }, { val: 6, name: '6 Pulgadas' }]">{{ core.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-content>
        </ion-tab>
        <ion-tab tab="tab-mlkg"> <ion-content scrollY="true"> </ion-content> </ion-tab>
        <ion-tab-bar slot="bottom" color="primary" (ionTabBarChanged)="changeTab(tabs_ml)">
          <ion-tab-button tab="tab-kgml">
            <ion-icon name="cube"> </ion-icon>
            <ion-label>desde Kg</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab-mlkg">
            <ion-icon src="assets/icons/dot-circle.svg"> </ion-icon>
            <ion-label>desde Alto</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </div>
</ion-content>
