// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// import url('https://fonts.googleapis.com/css?family=Roboto');
// @import '../src/theme/materialize.scss';

@import '~roboto-fontface/css/mixins.scss';
$roboto-font-path: '~roboto-fontface/fonts';

@include roboto-font('roboto', 'Roboto', 'Light', 300, normal);
@include roboto-font('roboto', 'Roboto', 'Regular', 400, normal);
@include roboto-font('roboto', 'Roboto', 'Bold', 700, normal);

/* Extra Colors */

.ion-color-red {
  --ion-color-base: #ff0000;
  --ion-color-base-rgb: 255, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #cc0000;
  --ion-color-tint: #f55;
}
.ion-color-green {
  --ion-color-base: #00ff00;
  --ion-color-base-rgb: 0, 255, 0;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #00cc00;
  --ion-color-tint: #5f5;
}
.ion-color-blue {
  --ion-color-base: #0000ff;
  --ion-color-base-rgb: 0, 0, 255;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0000cc;
  --ion-color-tint: #55f;
}

.ion-color-cyan {
  --ion-color-base: #00ffff;
  --ion-color-base-rgb: 0, 255, 255;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #00cccc;
  --ion-color-tint: #5ff;
}
.ion-color-magent {
  --ion-color-base: #ff00ff;
  --ion-color-base-rgb: 255, 0, 255;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #c0c;
  --ion-color-tint: #f5f;
}
.ion-color-yellow {
  --ion-color-base: #fd0;
  --ion-color-base-rgb: 255, 221, 0;
  --ion-color-contrast: #000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #cb0;
  --ion-color-tint: #ec5;
}

/* FontAwesome Variables */

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
$fa-font-size-base: 20px !default;
$fa-css-prefix: 'fa';

.#{$fa-css-prefix},
.fas,
.far,
.fal,
.fab {
  font-size: $fa-font-size-base;
  margin: 2px;
}
.#{$fa-css-prefix},
.fas,
.far,
.fal,
.fab {
  &.primary {
    color: var(--ion-color-primary);
  }
  &.secondary {
    color: var(--ion-color-secondary);
  }
  &.tertiary {
    color: var(--ion-color-tertiary);
  }
  &.success {
    color: var(--ion-color-success);
  }
  &.warning {
    color: var(--ion-color-warning);
  }
  &.danger {
    color: var(--ion-color-danger);
  }
  &.dark {
    color: var(--ion-color-dark);
  }
  &.medium {
    color: var(--ion-color-medium);
  }
  &.light {
    color: var(--ion-color-light);
  }
}

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
